<!DOCTYPE html>
<html class="light" lang="en">
<head>
    <meta charset="utf-8">
</head>
<body class="min-h-screen bg-surface">{% include "admin/share/header.html" %}
{% include "admin/share/sideNavBar.html" %}
{% block content %}
    {% if tab == 'dashboard' %}
        {% include "admin/dashboard/dashboard.html" %}
    {% elif tab == 'products' %}
        {% include "admin/dashboard/products.html" %}
    {% elif tab == 'orders' %}
        {% include "admin/dashboard/orders.html" %}
    {% elif tab == 'customers' %}
        {% include "admin/dashboard/customers.html" %}
    {% elif tab == 'inventory' %}
        {% include "admin/dashboard/inventory.html" %}
    {% elif tab == 'analytics' %}
        {% include "admin/dashboard/analytics.html" %}
    {% elif tab == 'user_management' %}
        {% include "admin/dashboard/user_management.html" %}
    {% else %}
        {% include "admin/dashboard/dashboard.html" %}
    {% endif %}
{% endblock %}
</body>
</html>